<div ng-include="'/views/shared/navbar.html'"></div>
<div class="container cv-innersystem">
    <div class="list-group">
        <div class="search list-group-item">
            mingi otsing
        </div>

        <a ng-href="/offers/offer" class="list-group-item message">
                <div class="message" >
                <div class="row">
                    <h4 class="list-group-item-heading col-md-10">TIITEL TULEB SIIA</h4>
                    <label class="date col-md-2">Kuupäev</label>
                </div>
                <div class="row">
                    <p class="list-group-item-text col-md-12"> adsf asdf asfd asdf asf asfsdf </p>
                </div>
            </div>
        </a>
        <a ng-href="/offers/offer" class="list-group-item">
            <div class="message" >
                <div class="row">
                    <h4 class="list-group-item-heading col-md-10">TIITEL TULEB SIIA</h4>
                    <label class="date col-md-2">Kuupäev</label>
                </div>
                <div class="row">
                    <p class="list-group-item-text col-md-12"> adsf asdf asfd asdf asf asfsdf </p>
                </div>
            </div>
        </a>
    </div>
</div>