<div ng-include="'/views/shared/navbar.html'"></div>
<div class="container">
    <div class="row row-offcanvas cv-content">
        <div class="col-md-8 col-xs-8 col-sm-8">
            <h2>Traineeship offerings</h2>
            <p>Here you can view and search your traineeship offerings that you've made.</p>
        </div>
        <div class="col-md-4 col-xs-4 col-sm-4">
            <p>
                <form role="form" class="find-form">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Offer search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Search</button>
                        </span>
                    </div>
                </form>
            </p>
            <p><a class="btn btn-default" href="/offer/traineeship/new" role="button">New traineeship offer</a></p>
        </div>
    </div>
</div>