<div class="col-md-4 col-xs-4 col-sm-4">
    <form role="form" class="search-form">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Offer search">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Search</button>
            </span>
        </div>
    </form>
    <p><a href="/offer/traineeship" role="link">Your traineeship offers</a></p>
    <p><a href="/offer/traineeship/new" role="link">Create a new traineeship offer</a></p>
</div>