<div class="container cv-outersystem">
    <div class="cv-top-block">
        <p class="cv-title">Company View</p>
        <p class="cv-description">Please fill the fields in order to register.</p>
    </div>

    <div id="register-fail-message"></div>

    <div class="jumbotron cv-registration-block" ng-controller="RegistrationController">
        <form ng-submit="register()" role="form" class="cv-form row" novalidate>
            <div class="form-group col-lg-12" id="cv-username-field">
                <label>Username
                    <input ng-model="username" ng-disabled="isRegistering" type="text" class="form-control" onkeydown="removeRegistrationErrorHighlights()">
                </label>
            </div>

            <div class="form-group col-lg-6" id="cv-email-field">
                <label>E-mail address
                    <input ng-model="email" ng-disabled="isRegistering" type="text" class="form-control" onkeydown="removeRegistrationErrorHighlights()">
                </label>
            </div>

            <div class="form-group col-lg-6" id="cv-emailconf-field">
                <label>Confirm e-mail address
                    <input ng-model="emailConf" ng-disabled="isRegistering" type="text" class="form-control" onkeydown="removeRegistrationErrorHighlights()">
                </label>
            </div>

            <div class="form-group col-lg-6" id="cv-firstname-field">
                <label>First name
                    <input ng-model="firstName" ng-disabled="isRegistering" type="text" class="form-control" onkeydown="removeRegistrationErrorHighlights()">
                </label>
            </div>

            <div class="form-group col-lg-6" id="cv-lastname-field">
                <label>Last name
                    <input ng-model="lastName" ng-disabled="isRegistering" type="text" class="form-control" onkeydown="removeRegistrationErrorHighlights()">
                </label>
            </div>

            <div class="form-group" id="cv-organisation-field">
                <label>Organisation
                    <input ng-model="organisation" ng-disabled="isRegistering" type="text" class="form-control" onkeydown="removeRegistrationErrorHighlights()">
                </label>
            </div>

            <div class="form-group" id="cv-telephone-field">
                <label>Telephone or mobile phone number
                    <input ng-model="telephone" ng-disabled="isRegistering" type="text" class="form-control" onkeydown="removeRegistrationErrorHighlights()">
                </label>
            </div>

            <div class="form-group" id="cv-address-field">
                <label>Address
                    <input ng-model="address" ng-disabled="isRegistering" type="text" class="form-control" onkeydown="removeRegistrationErrorHighlights()">
                </label>
            </div>

            <div class="form-group col-lg-6" id="cv-password-field">
                <label>Password
                    <input ng-model="password" ng-disabled="isRegistering" type="password" class="form-control" onkeydown="removeRegistrationErrorHighlights()">
                </label>
            </div>

            <div class="form-group col-lg-6" id="cv-passwordconf-field">
                <label>Password confirmation
                    <input ng-model="passwordConf" ng-disabled="isRegistering" type="password" class="form-control" onkeydown="removeRegistrationErrorHighlights()">
                </label>
            </div>

            <button ng-disabled="isRegistering" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
        </form>
    </div>

    <div class="cv-bot-block">
        <p class="cv-info">It is required to fill all the fields in order to register.</p>
        <p class="cv-info">Already have an account? <a ng-href="/">Login here.</a></p>
    </div>
</div>