<div ng-include="'/views/shared/navbar.html'"></div>
<div class="container cv-innersystem">
    <div class="panel panel-default message">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    Panel heading without title
                </div>
                <label class="date col-md-2">Kuupäev</label>
            </div>
        </div>
        <div class="panel-body">
            iusfhda iuhsadufhasuiodfhiusadhfiouashfasf ushf iuashfupahsdfsfd uisadhf uashf hasd f sudaf huiashfj uiasdfsadf uasd
        </div>
    </div>

    <div class="panel panel-default message">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-10">
                    Panel heading without title
                </div>
                <label class="date col-md-2">Kuupäev</label>
            </div>
        </div>
        <div class="panel-body">
            iusfhda iuhsadufhasuiodfhiusadhfiouashfasf ushf iuashfupahsdfsfd uisadhf uashf hasdf sudaf huiashfj uiasdfsadf uasd
        </div>
    </div>


    <form role="form">
        <div class="form-group">
            <label for="comment">Reply:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
        </div>
        <button class="btn btn-lg btn-primary" type="submit">Reply</button>
    </form>
</div>
