<div ng-include="'/views/shared/navbar.html'"></div>
<div class="container">
    <div class="cv-content">
        <div id="response-message"></div>

        <h2>Change account details</h2>
        <p>Here you can change your account details.</p>

        <form ng-submit="updateDetails()" role="form" ng-controller="UpdateDetailsController" novalidate>
            <div class="row">
                <div class="form-group col-sm-6 col-xs-6 col-md-6" id="cv-email-field">
                    <label>E-mail address</label>
                    <input ng-model="email" ng-disabled="isUpdating" type="text" class="form-control" onkeydown="removeErrorHighlights(['cv-email-field', 'cv-emailconf-field'])">
                </div>

                <div class="form-group col-sm-6 col-xs-6 col-md-6" id="cv-emailconf-field">
                    <label>E-mail confirmation</label>
                    <input ng-model="emailConf" ng-disabled="isUpdating" type="text" class="form-control" onkeydown="removeErrorHighlights(['cv-email-field', 'cv-emailconf-field'])">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6 col-xs-6 col-md-6" id="cv-firstname-field">
                    <label>First name</label>
                    <input ng-model="firstName" ng-disabled="isUpdating" type="text" class="form-control" onkeydown="removeErrorHighlights(['cv-firstname-field'])">
                </div>

                <div class="form-group col-sm-6 col-xs-6 col-md-6" id="cv-lastname-field">
                    <label>Last name</label>
                    <input ng-model="lastName" ng-disabled="isUpdating" type="text" class="form-control" onkeydown="removeErrorHighlights(['cv-lastname-field'])">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6 col-xs-6 col-md-6" id="cv-organisation-field">
                    <label>Organisation name</label>
                    <input ng-model="organisation" ng-disabled="isUpdating" type="text" class="form-control" onkeydown="removeErrorHighlights(['cv-organisation-field'])">
                </div>

                <div class="form-group col-sm-6 col-xs-6 col-md-6" id="cv-telephone-field">
                    <label>Telephone or mobile phone number</label>
                    <input ng-model="telephone" ng-disabled="isUpdating" type="text" class="form-control" onkeydown="removeErrorHighlights(['cv-telephone-field'])">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-12 col-xs-12 col-md-12" id="cv-address-field">
                    <label>Address</label>
                    <input ng-model="address" ng-disabled="isUpdating" type="text" class="form-control" onkeydown="removeErrorHighlights(['cv-address-field'])">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <button ng-disabled="isUpdating" class="btn btn-md btn-primary" type="submit">Update details</button>
                </div>
            </div>
        </form>
    </div>
</div>