<div ng-include="'/views/shared/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Your account</h1>
            <p>Here you can change your password.</p>
        </div>
    </div>
    <form ng-submit="changePassword()" role="form" class="cv-form row" novalidate="">
        <div class="form-group col-lg-12" id="cv-passwordold-field">
            <label>Old password
                <input ng-model="passwordOld" ng-disabled="isChangingPassword" type="password" class="form-control" onkeydown="removeErrorHighlights(['cv-passwordold-field'])">
            </label>
        </div>

        <div class="form-group col-lg-12" id="cv-password-field">
            <label>New password
                <input ng-model="password" ng-disabled="isChangingPassword" type="password" class="form-control" onkeydown="removeErrorHighlights(['cv-password-field', 'cv-passwordconf-field'])">
            </label>
        </div>

        <div class="form-group col-lg-12" id="cv-passwordconf-field">
            <label>New password confirmation
                <input ng-model="passwordConf" ng-disabled="isChangingPassword" type="password" class="form-control" onkeydown="removeErrorHighlights(['cv-password-field', 'cv-passwordconf-field'])">
            </label>
        </div>

        <div class="col-lg-3">
            <button ng-disabled="isChangingPassword" class="btn btn-lg btn-primary btn-block cv-btn-do" type="submit">Change password</button>
        </div>
    </form>
</div>
