<div ng-include="'/views/shared/navbar.html'"></div>
<div class="container">
    <div class="cv-content">
        <div id="response-message"></div>

        <h2>Change password</h2>
        <p>Here you can change your password. In order to change your password you must provide your old password.</p>

        <form ng-submit="updatePassword()" role="form" ng-controller="UpdatePasswordController" novalidate>
            <div class="row">
                <div class="form-group col-sm-6 col-xs-6 col-md-6" id="cv-password-field">
                    <label>Current password</label>
                    <input ng-model="password" ng-disabled="isUpdatingPassword" type="password" class="form-control" onkeydown="removeErrorHighlights(['cv-password-field'])">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6 col-xs-6 col-md-6" id="cv-newpassword-field">
                    <label>New password</label>
                    <input ng-model="newPassword" ng-disabled="isUpdatingPassword" type="password" class="form-control" onkeydown="removeErrorHighlights(['cv-newpassword-field', 'cv-newpasswordconf-field'])">
                </div>

                <div class="form-group col-sm-6 col-xs-6 col-md-6" id="cv-newpasswordconf-field">
                    <label>Confirm password</label>
                    <input ng-model="newPasswordConf" ng-disabled="isUpdatingPassword" type="password" class="form-control" onkeydown="removeErrorHighlights(['cv-newpassword-field', 'cv-newpasswordconf-field'])">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <button ng-disabled="isUpdatingPassword" class="btn btn-md btn-primary" type="submit">Change password</button>
                </div>
            </div>
        </form>
    </div>
</div>