<div ng-include="'/views/shared/navbar.html'"></div>
<div class="container cv-innersystem">
    <div id="response-message"></div>
    <div class="jumbotron cv-registration-block" ng-controller="UpdatePasswordController">
        <form ng-submit="updatePassword()" role="form" class="cv-form row" novalidate>
            <div class="form-group col-lg-12" id="cv-password-field">
                <label>Current password
                    <input ng-model="password" ng-disabled="isUpdatingPassword" type="password" class="form-control" onkeydown="removeErrorHighlights(['cv-password-field'])">
                </label>
            </div>

            <div class="form-group col-lg-6" id="cv-newpassword-field">
                <label>New password
                    <input ng-model="newPassword" ng-disabled="isUpdatingPassword" type="password" class="form-control" onkeydown="removeErrorHighlights(['cv-newpassword-field', 'cv-newpasswordconf-field'])">
                </label>
            </div>

            <div class="form-group col-lg-6" id="cv-newpasswordconf-field">
                <label>New password confirmation
                    <input ng-model="newPasswordConf" ng-disabled="isUpdatingPassword" type="password" class="form-control" onkeydown="removeErrorHighlights(['cv-newpassword-field', 'cv-newpasswordconf-field'])">
                </label>
            </div>

            <button ng-disabled="isUpdatingPassword" class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
        </form>
    </div>
</div>