<div class="col-md-4 col-xs-4 col-sm-4">
    <form role="form" class="search-form">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Offer search">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="search" ng-click="search()">Search</button>
            </span>
        </div>
    </form>
    <p><a href="/offer/internships/all" role="link">All internship offers</a></p>
    <p><a href="/offer/internships" role="link">Your internship offers</a></p>
    <p><a href="/offer/internships/new" role="link">Create a new internship offer</a></p>
</div>