<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:component-scan base-package="ee.idu.vc"/>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>WEB-INF/db-main-properties.xml</value>
                <value>WEB-INF/db-default-properties.xml</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>

    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="ee.idu.vc.auth.AuthAccountArgResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <tx:annotation-driven transaction-manager="mainTransactionManager"/>

    <mvc:interceptors>
        <bean class="ee.idu.vc.auth.RequireAuthInterceptor"/>
    </mvc:interceptors>

    <bean name="requestMonitoringFilterBean" class="ee.idu.vc.filter.RequestMonitoringFilter"/>

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <!-- data storage setup (currently using test db created with liquibase) -->
    <bean id="mainDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://${db.host}:${db.port}/${db.name}"/>
        <property name="username" value="${db.user}"/>
        <property name="password" value="${db.pass}"/>
    </bean>

    <bean id="mainSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="mainDataSource"/>
        <property name="packagesToScan" value="ee.idu.vc"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</prop>
            </props>
        </property>
    </bean>

    <bean id="mainTransactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="mainSessionFactory"/>
    </bean>

    <bean id="mainLiquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="mainDataSource"/>
        <property name="changeLog" value="classpath:main-db-changelog.xml"/>
    </bean>
</beans>