<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:component-scan base-package="ee.idu.vc"/>

    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="ee.idu.vc.auth.AuthUserArgumentResolver"/>
        </mvc:argument-resolvers>
    </mvc:annotation-driven>

    <tx:annotation-driven transaction-manager="remoteDBTransactionManager"/>

    <mvc:interceptors>
        <bean class="ee.idu.vc.auth.RequireAuthInterceptor"/>
    </mvc:interceptors>

    <bean name="requestMonitoringFilterBean" class="ee.idu.vc.filter.RequestMonitoringFilter"/>

    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <!-- Local data storage setup with liquibase -->
    <bean id="localDBDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.h2.Driver"/>
        <property name="url" value="jdbc:h2:file:./app-data/storage/local-db-h2"/>
        <property name="username" value="local-db-user"/>
        <property name="password" value="local-db-pass"/>
    </bean>

    <bean id="localDBSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="localDBDataSource"/>
        <property name="packagesToScan" value="ee.idu.vc"/>
    </bean>

    <bean id="localDBTransactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="localDBSessionFactory"/>
    </bean>

    <bean id="localDBLiquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="localDBDataSource"/>
        <property name="changeLog" value="classpath:local-db-changelog.xml"/>
    </bean>

    <!-- Remote data storage setup (currently using test db created with liquibase) -->
    <bean id="remoteDBDataSource" class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/cv"/>
        <property name="username" value="postgres"/>
        <property name="password" value="goodpass"/>
    </bean>

    <bean id="remoteDBSessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="remoteDBDataSource"/>
        <property name="packagesToScan" value="ee.idu.vc"/>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</prop>
            </props>
        </property>
    </bean>

    <bean id="remoteDBTransactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="remoteDBSessionFactory"/>
    </bean>

    <bean id="remoteDBLiquibase" class="liquibase.integration.spring.SpringLiquibase">
        <property name="dataSource" ref="remoteDBDataSource"/>
        <property name="changeLog" value="classpath:remote-db-test-changelog.xml"/>
    </bean>
</beans>